---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import ProyectsTable from "../components/ProyectsTable";
import AsideDynamic from "../components/AsideDynamic";
---

<Layout title="Welcome to Astro.">
	<aside class="sidebar">
		<AsideDynamic client:only/>
	</aside>
	<div>
		<ProyectsTable client:visible/>
	</div>
</Layout>

<style>
	.sidebar {
		@apply bg-gray-200;
	}
</style>
